<div class="row">
    <h1 class="col-xs-12">Admins manager panel</h1>
</div>

<div class="row">
<% if @admins.empty? %>
    <h2 class="col-xs-12">Error, please contact the webmaster!</h2>
<% elsif  @admins.size == 1 %>
    <h2 class="col-xs-12">There is no other admins than you.</h2>
<% else %>
<h2 class="col-xs-12">List of other admins than you</h2>
<table class="col-xs-12 admins_list">
    <tr>
      <th>Gender</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Dob</th>
      <th>Email</t>
      <th></th>
    </tr>
    <% @admins.each do |admin| %>
    <% if admin.id != session[:user_id] %>
      <tr>
        <td><%= admin.gender %></td>
        <td><%= admin.first_name %></td>
        <td><%= admin.last_name %></td>
        <td><%= admin.dob %></td>
        <td><%= admin.email %></td>
        <td><%= link_to 'Remove admin rights', remove_admin_path(:id => admin.id) %></td>
      </tr>
     <% end %>
    <% end %>
</table>
<% end %>
</div>

<div class="row">
<h2 class="col-xs-12">List of current users</h2>
<% if @users==nil %>
    <p class="col-xs-12">Error, please contact the administrator.</p>
<% else %>
<table class="col-xs-12 users_list">
    <tr>
      <th>Gender</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Dob</th>
      <th>Email</t>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.gender %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.dob %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Add admin rights', add_admin_path(:id => user.id) %></td>
      </tr>
    <% end %>
</table>
<% end %>
</div>
