<h1>Admins manager panel</h1>
<% if @admins.empty? %>
    <h2>Error, please contact the webmaster!</h2>
<% elsif  @admins.size == 1 %>
    <h2>There is no other admins than you.</h2>
<% else %>
<h2>List of other admins than you</h2>
<table>
    <tr>
      <th>Gender</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Dob</th>
      <th>Email</t>
      <th></th>
    </tr>
    <% @admins.each do |admin| %>
    <% if admin.id != session[:user_id] %>
      <tr>
        <td><%= admin.gender %></td>
        <td><%= admin.first_name %></td>
        <td><%= admin.last_name %></td>
        <td><%= admin.dob %></td>
        <td><%= admin.email %></td>
        <td><%= link_to 'Remove admin rights', remove_admin_path(:id => admin.id) %></td>
      </tr>
     <% end %>
    <% end %>
</table>
<% end %>

<h2>List of current users</h2>
<% if @users==nil %>
    Error, please contact the administrator.
<% else %>
<table>
    <tr>
      <th>Gender</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Dob</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.gender %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.dob %></td>
        <td><%= link_to 'Add admin rights', add_admin_path(:id => user.id) %></td>
      </tr>
    <% end %>
</table>
<% end %>
<p>Find me in app/views/admins/index.html.erb</p>
