<div class="row">
    <h1 class="col-xs-12">Listing users</h1>
</div>

<div class="row">
    <table class="col-xs-12 users_list">
        <% @users.each do |user| %>
            <tr>
                <td><strong><%= link_to user.gender+" "+user.complete_name, user %></strong></td>
                <td><%= user.nationality %></td>
                <td><%= user.dob.find_age %> years old</td>
                <td>
                    <% if user.property_id == nil %>
                        <em>Doesn't have a property yet.</em>
                    <% else %>
                        <em>Lives at <%= link_to user.property.address, user.property %></em>
                    <% end %>
                </td>
                <% if signed_in? && @current_user.admin == true %>
                    <td><%= link_to 'Edit', edit_user_path(user) %></td>
                    <td><%= button_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>
