<div class="row">
    <h1 class="col-xs-12">Listing properties</h1>
</div>

<div class="row">
    <div class="col-md-6 col-md-push-6">
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=450x300"+getPropertiesInDublin %>
    </div>
    <table class="properties_list col-md-6 col-md-pull-6 col-xs-12">
        <% @properties.each do |property| %>
        <tr>
            <td>
                <%= link_to property.address, property %><br />
                <em><%= property.kind %> with <%= pluralize(property.nb_of_rooms, 'room') %> and <%= pluralize(property.nb_of_bathrooms, 'bathroom') %>.</em></td>
                <% if signed_in? && @current_user.admin == true %>
                    <td><%= link_to 'Edit', edit_property_path(property) %></td>
                    <td><%= button_to 'Destroy', property, confirm: 'Are you sure?', method: :delete %></td>
                <% end %>
        </tr>
        <% end %>
    </table>
</div>
