<div class="row">
    <h1 class="col-xs-12">Property details</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2><%= @property.kind %> with <%= pluralize(@property.nb_of_rooms, 'room') %> and <%= pluralize(@property.nb_of_bathrooms, 'bathroom') %>.</h2>
        <%= simple_format(@property.address) %>

        <p>
            <% if @property.users.empty? %>
                    Nobody is living here.
            <% else %>
                <% @property.users.each do |u| %>
                    <% if @property.users.size > 1 %>
                        <% if u == @property.users.last %>
                            and <%= link_to u.complete_name, u %> are living here.
                        <% else %>
                            <%= link_to u.complete_name, u %>,
                        <% end %>
                    <% else %>
                        <%= link_to u.complete_name, u %> is living here.
                    <% end %>
                <% end %>
            <% end %>
        </p>

        <h2>Want to join <%= @pronoun %>?</h2>
        <p>
            <% if @property.advert == nil %>
                Unfortunately, no adverts are currently referring to this property. Check back later!
            <% else %>
                <%= pluralize(@property.advert.nb_of_free_beds, 'bed is', 'beds are') %> available!
                <%= link_to 'Go to the advert!', @property.advert %>
            <% end %>
        </p>

        <% if signed_in? && @current_user.property_id == @property.id %>
        <hr>
        <p>
            <%= link_to 'Edit my property', edit_property_path(@property) %><br />
            <%= link_to 'Leave this property', unlink_property_path(:id => @property.id) %>
        </p>
        <% end %>
    </div>

    <div class="col-md-6">
        <div class="row">
            <p class="property_facilities col-xs-6">
                <% if @property.furnished == true %>
                    <%= image_tag("true_tick.png", width: "100") %>
                <% else %>
                    <%= image_tag("wrong_tick.png", width: "100") %>
                <% end %>
                <b>Furnished</b>
            </p>

            <p class="property_facilities col-xs-6">
              <% if @property.parking == true %>
                  <%= image_tag("true_tick.png", width: "100") %>
              <% else %>
                  <%= image_tag("wrong_tick.png", width: "100") %>
              <% end %>
              <b>Parking</b>
            </p>

            <p class="property_facilities col-xs-6">
              <% if @property.internet == true %>
                  <%= image_tag("true_tick.png", width: "100") %>
              <% else %>
                  <%= image_tag("wrong_tick.png", width: "100") %>
              <% end %>
              <b>Internet</b>
            </p>

            <p class="property_facilities col-xs-6">
              <% if @property.tv == true %>
                  <%= image_tag("true_tick.png", width: "100") %>
              <% else %>
                  <%= image_tag("wrong_tick.png", width: "100") %>
              <% end %>
              <b>Tv</b>
            </p>

            <p class="property_facilities col-xs-6">
              <% if @property.washing_machine == true %>
                  <%= image_tag("true_tick.png", width: "100") %>
              <% else %>
                  <%= image_tag("wrong_tick.png", width: "100") %>
              <% end %>
              <b>Washing machine</b>
            </p>

            <p class="property_facilities col-xs-6">
              <% if @property.dryer == true %>
                  <%= image_tag("true_tick.png", width: "100") %>
              <% else %>
                  <%= image_tag("wrong_tick.png", width: "100") %>
              <% end %>
              <b>Dryer</b>
            </p>

            <p class="property_facilities col-xs-6">
              <% if @property.dishwasher == true %>
                  <%= image_tag("true_tick.png", width: "100") %>
              <% else %>
                  <%= image_tag("wrong_tick.png", width: "100") %>
              <% end %>
              <b>Dishwasher</b>
            </p>
        </div>
    </div>
</div>
