<%= form_for(@advert) do |f| %>
  <% if @advert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advert.errors.count, "error") %> prohibited this advert from being saved:</h2>

      <ul>
      <% @advert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="row">
      <div class="advert_field col-xs-6">
        <%= f.label :rent %>
        <%= f.number_field :rent, :in => 1...10000 %> €
      </div>
      <div class="advert_field col-xs-6">
        <%= f.label :nb_of_free_beds %>
        <%= f.number_field :nb_of_free_beds, :in => 1...10 %>
      </div>
  </div>

  <div class="row actions center">
      <%= f.submit %>
  </div>
<% end %>
