<div class="row">
    <h1 class="col-xs-12">Advert details</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>
            <% if @advert.user_id == nil %>
                Error! An advert must have an user !
            <% else %>
                Created <%= time_ago_in_words(@advert.created_at) %> ago by <%= link_to @advert.user.complete_name, @advert.user %>
            <% end %>
        </h2>

            <%= simple_format(@advert.content) %>

        <h2>
            <%= pluralize(@advert.nb_of_free_beds, 'bed') %> for <strong><%= @advert.rent %> €</strong>
        </h2>
        <p>
            <% if @advert.property_id == nil %>
                Error! An advert must have a property !
            <% else %>
                <strong><%= link_to @advert.property.address, @advert.property %></strong>
            <% end %>
        </p>
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=450x300&zoom=14&markers="+@advert.property.latitude.to_s+","+@advert.property.longitude.to_s %>
            <%# All people living in the property must can modify/delete the referring advert %>
            <% if signed_in? && @advert.property_id == @current_user.property_id %>
            <hr>
            <p>
                <%= link_to 'Edit', edit_advert_path(@advert) %>
            </p>
                <%= button_to 'Delete my advert', @advert, confirm: 'Are you sure?', method: :delete %>

            <% end %>
    </div>
    <div class="col-md-6 advert_show_image">
        <% if @advert.images.empty? %>
                This advert have no images yet.
        <% else %>
            <% @advert.images.each do |a| %>
                <%= image_tag(a.name) %>
            <% end %>
        <% end %>
    </div>
</div>
