<!DOCTYPE html>
<html>
<head>
  <title>Accommodationsapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% flash.each do |key, value| %>
    <div class="flash_<%= key %>"><%= key %> : <%= value %></div>
    <% end %>

    <nav>
    <ul>
        <% if !signed_in? %>
            <li><%= link_to "Sign in", signin_path %></li>
        <% else %>
            <li>Welcome <%= @current_user.first_name %></li>
            <li><%= link_to "My account", @current_user %></li>
            <li><%= link_to "Sign out", signout_path %></li>
        <% end %>

        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Properties", properties_path %></li>
        <li><%= link_to "Adverts", adverts_path %></li>
        <li><%= link_to "Images", images_path %></li>
        <li><%= link_to "Images", admins_path %></li>
    </ul>

</nav>

<%= yield %>
<footer>
    <p>
        Created by <a href="mailto:dimitri.labouesse@mydit.ie">Dimitri Labouesse</a> as a school project at DIT</a>.
        This project is available on <a href="https://github.com/dlabouesse/accommodationsapp.git">Github</a>.
    </p>
</footer>
</body>
</html>
